.buttonCreate {
    background: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}


.buttonCreate:hover {
  background: #2980b9;
}

.buttonDelete {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background 0.3s;
}

.buttonDelete:hover {
  background: #c0392b;
}

.buttonCancel {
  background: #474A51;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background 0.3s;
}

// .buttonError {
//   background: #A9A9A9;
//   color: white;
//   border: none;
//   padding: 12px 20px;
//   border-radius: 8px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: background 0.3s;
// }

// .buttonError:hover {
//   background:#808080;
// }


.buttonRestore {
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background 0.3s;
  background-color: #40c057;

}


.buttonRestore:hover {
  background-color: #37b24d;
}

.buttonFav {
  background:var(--fav-note-bg);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
  transition: background 0.3s;
}

.buttonFav:hover {
  background: #c07784;
}