* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #CCCCCC;
  min-height: 100vh;

}

.App {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.note {
  background: -webkit-linear-gradient(90deg, #1f2937,#293647,#233043);background: linear-gradient(90deg, #1f2937,#293647,#233043);
  border-radius: 12px;
  padding: 20px;
  min-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-top: 15px;
}


.note-title {
  margin-top: 0;
  color: white;
  font-size: 18px;
}

.note-desc {
  color: #a2aaaa;
  line-height: 1.5;
}

.errorPage{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  a {
    color: #2563eb; 
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
  }
  
  a:hover {
    color: #1d4ed8;
    border-bottom-color: currentColor;
  }
}


