* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  
}

.App {
  width: 800px;
}

.note {
  background: -webkit-linear-gradient(90deg, #1f2937,#293647,#233043);background: linear-gradient(90deg, #1f2937,#293647,#233043);
  border-radius: 12px;
  padding: 20px;
  min-width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: transform 0.2s;
  margin-top: 15px;
}

.note:hover {
  transform: translateY(-5px);
}

.note-title {
  margin-top: 0;
  color: white;
  font-size: 18px;
}

.note-desc {
  color: #a2aaaa;
  line-height: 1.5;
}

