



header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 30px 10%;
  width: 100vw;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--nav-bgc-color);
  margin-bottom: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.logo {
  cursor: pointer;
  margin: 0;
  color: var(--primary-text-color);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 10px;
}


.listItem {
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  color: var(--primary-text-color);
}



@media(hover:hover) {
  .listItem:hover {
    color: var(--secondary-text-color);
  }
}

@media(hover:none) {
  .listItem:active {
    color:var(--secondary-text-color);
  }
}

// @media(max-width: 700px) {

//   .navLinks {
//     display: block;
//   }
  
//   .headerNav {
//     position: fixed;
//     top: 0;
//     right: 0;
//     display: flex;
//     flex-direction: column;
//     width: 220px;
//     height: 100%;
//     background-color: var(--nav-bgc-color);
//     border: 2px solid;
//     border-top-right-radius: 16px;
//     border-bottom-left-radius: 16px;
//     transition: transform 0.3s linear;
//   }

//   .navLinks{
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   padding: 60px;
//   }
// }

.burgerBtn {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.burgerBtn span {
  content:'';
  position: absolute;
  top: 11px;
  width: 30px;
  background-color:var(--primary-text-color);
  height: 2px;
}


.burgerBtn:before {
  content:'';
  position: absolute;
  top: 0;
  width: 30px;
  background-color:var(--primary-text-color);
  height: 2px;
}

.burgerBtn::after {
  content:'';
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: var(--primary-text-color);
  height: 2px;
}